<main *ngIf="categories">

    <div class="category-nav">
        <div class="category-nav-aside">
            <a routerLink="/products" fragment="Our Products"><h1 id="Our Products">Our Products</h1></a>
            <i class="fa-solid fa-bars"></i>
        </div>
        <ul class="category__nav-list flex-row">
            <li *ngFor="let category of categories" class="category__nav-item"><a routerLink="/products" [fragment]="category.category_name" class="category__nav-link">{{category.category_name}}</a></li>
        </ul>
    </div>

    <section class="products">

        <app-products-category *ngFor="let category of categories" [categoryData]="category"></app-products-category>

    </section>

</main>