<footer>

    <div class="bg-img">
        <div class="transparent-rounded-div flex-row">

            <div class="footer__about container flex-col">
                <img class="logo-l" src="../assets/logo_white.png" alt="">
                <a class="a-button-border" href="">ORDER NOW</a>
            </div>

            <div class="container flex-col">
                <div class="footer__links flex-col">
                    <h6>PRODUCTS</h6>
                    <ul>
                        <li> <a class="footer__link" href="">Bags</a> </li>
                        <li class="ul-spacer"></li>
                        <li> <a class="footer__link" href="">Belts</a> </li>
                    </ul>
                    <ul>
                        <li> <a class="footer__link" href="">Ladies Wallets</a> </li>
                        <li class="ul-spacer"></li>
                        <li> <a class="footer__link" href="">Mens Wallets</a> </li>
                    </ul>
                    <ul>
                        <li> <a class="footer__link" href="">Pouches</a> </li>
                        <li class="ul-spacer"></li>
                        <li> <a class="footer__link" href="">Travel Wallets</a> </li>
                    </ul>
                </div>
                <div id="contact" class="footer__links flex-col">
                    <h6>CONTACT</h6>
                    <div class="flex-row">
                        <p><i class="fa-solid fa-location-dot"></i>Port Alfred</p> <p class="ul-spacer"></p> <p>6170</p> <p class="ul-spacer"></p> <p>South Africa</p>
                    </div>
                    <div class="flex-row">
                        <p><i class="fa-solid fa-phone"></i>071 501 4150</p> <p class="ul-spacer"></p> <p>076 816 9777</p>
                    </div>
                    <p><i class="fa-brands fa-whatsapp"></i> <a href="http://wa.me/27783664604" target="_blank">078 366 4604</a></p>
                    <p><i class="fa-regular fa-envelope"></i> <a href="mailto:uniquelycrafted53@gmail.com" target="_blank">uniquelycrafted53&#64;gmail.com</a></p>
                    <p><i class="fa-brands fa-facebook-f"></i> <a href="https://www.facebook.com/profile.php?id=100090955061213&mibextid=ZbWKwL" target="_blank">Uniquely Crafted</a></p>
                </div>
            </div>

        </div>
    </div>

    <div class="copyright">
        <div class="flex-col">
            <p><i class="fa-regular fa-copyright"></i>Copyright Uniquely Crafted 2024</p>
            <p>Website Designed by Vanessa <a href="mailto:webdesignbyvanessa@gmail.com" target="_blank"><i class="fa-regular fa-envelope"></i></a> <a href="http://wa.me/27617731276" target="_blank"><i class="fa-brands fa-whatsapp"></i></a></p>
        </div>
        <div class="flex-col">
            <a href="">Terms & Conditions</a>
            <a href="">Privacy Policy</a>
        </div>
    </div>

</footer>