/* HEADER */

/* NAV */

nav {
    padding: 2em 10em;
    background-color: var(--color-900);
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.nav-link {
    color: var(--color-100);
    font-size: var(--fs-500);
    border-bottom: solid 1px transparent;
    transition: border var(--transition-time);
}
    .nav-link:hover {
        border-bottom: solid 1px var(--color-100);
    }
