<header>

    <nav class="flex-row-hcenter-between">
      <img class="logo-m" src="../assets/logo_white.png" alt="">
      
      <ul class="nav-links">
        <li> <a class="nav-link" routerLink="/home">HOME</a> </li>
        <li> <a class="nav-link" routerLink="/home" fragment="story">ABOUT</a> </li>
        <li> <a class="nav-link" routerLink="/products">PRODUCTS</a> </li>
        <li> <a class="nav-link" routerLink="/order">ORDER</a> </li>
        <li> <a class="nav-link" routerLink="/home" fragment="contact">CONTACT</a> </li>
      </ul>
    </nav>

</header>