/* FOOTER */

footer .container {
    gap: 3em;
}

footer h6 {
    color: var(--color-100);
    font-size: var(--fs-600);
}

footer :is(p, a) {
    color: var(--color-100);
    font-size: var(--fs-500);
}


.ul-spacer {
    width: 8px;
    height: 8px;
    background-color: var(--color-100);
    border-radius: 1px;
    transform: rotate(45deg);
}


.footer__about {
    max-width: fit-content;
}

.footer__about .a-button-border {
    align-self: center;
    font-size: var(--fs-700);
    background-color: var(--color-900);
}


.footer__links {
    gap: 1em;
}

.footer__list {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 0.75em 2em;
}

.footer__item {
    color: var(--color-100);
    /* list-style-type: square; */
    list-style-type: none;
    list-style-position: inside;
}

.footer__link {
    border-bottom: solid 1px transparent;
    transition: border-bottom var(--transition-time);
}
    .footer__link:hover {
        border-bottom: solid 1px var(--color-100);
    }

.footer__link, footer p {
    font-family: var(--ff-display-sans);
}


.bg-img {
    padding: 8em;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.transparent-rounded-div {
    padding: 4em;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.transparent-rounded-div div:first-child {
    width: 60%;
}


.copyright {
    padding: 2em 8em;
    display: flex;
    justify-content: space-between;
    font-family: var(--ff-display-sans);
}

.copyright .flex-col {
    gap: 0.5em;
}