/* PRODUCT */

.product {
    margin-top: 4em;
    background-color: var(--color-100);
    border: solid 0.15em var(--color-900);
}


/* PRODUCT HEADER */

.product__header {
    padding: 1em 2em;
    color: var(--color-100);
    background-color: var(--color-900);
}

.product__header p {
    font-size: var(--fs-600);
}

.product__header em {
    font-size: var(--fs-400);
}


.product__header .i-button-and-popup {
    position: relative;
}

.product__header i {
    width: 1em;
    height: 1em;
    margin: 0 0 0 1em;
    padding: 0.5em;
    color: var(--color-200);
    font-size: var(--fs-400);
    text-align: center;
    border: solid 2px var(--color-200);
    border-radius: 100%;
    box-shadow: var(--button-box-shadow-t);
    transition: box-shadow var(--transition-time);
}
    .product__header i:hover {
        box-shadow: var(--button-box-shadow-l);
    }

.product__header .i-popup {
    width: max-content;
    margin: 0 2.5em 2.5em 0;
    padding: 0.75em 1em;
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: var(--color-100);
    font-size: var(--fs-400);
    font-family: var(--ff-display-sans);
    font-weight: 900;
    background-color: var(--color-400);
    border: solid 4px var(--color-900);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 0;
}


/* PRODUCT MAIN */

.product__main {
    padding: 1em;
    display: flex;
    gap: 2em;
    font-family: var(--ff-display-sans);
}


/* PRODUCT IMAGES */

.product__images {
    display: flex;
    gap: 0.25em;
    background-color: var(--color-900);
    border: solid 0.25em var(--color-900);
}

.product__large-img {
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}

.large-img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
}

.product__small-images {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.product__small-image {
    max-width: 100px;
}


/* PRODUCT INFO */

.product__info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

.product__details {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.product__details p {
    max-width: 30ch;
    font-size: var(--fs-500);
}

.product-video-btn {
    max-width: fit-content;
    padding: 0.45em 0.85em;
    color: var(--color-900);
    font-size: var(--fs-300);
    border: solid 1px var(--color-900);
    box-shadow: var(--button-box-shadow-t);
    transition: box-shadow var(--transition-time);
}
    .product-video-btn:hover {
        box-shadow: var(--button-box-shadow-d);
    }

.product-video-btn i {
    margin: 0 0 0 0.25em;
    color: var(--color-900);
}


.product__materials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.5em;
}

.product__colors, .product__patterns {
    max-width: fit-content;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.5em;
}

.product__color {
    margin: 0;
    font-size: 4rem;
    border-radius: 100%;
}

.product__patterns-img {
    width: 67px;
    height: 67px;
    border-radius: 100%;
    background-size: cover;
}

.color-pattern-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}


/* PRODUCT VIDEO */

.video-box {
    padding: 1em 2em;
    color: var(--color-100);
    background-color: var(--color-900);
}
    .video-box > div:first-of-type {
        width: 100%;
    }

.video-box p {
    font-size: var(--fs-600);
}

.close-video-btn {
    color: var(--color-100);
    font-size: var(--fs-600);
    font-family: var(--ff-display-serif);
    border-color: var(--color-100);
}

.close-video-btn i {
    margin: 0;
    padding: 0;
}

.video-box__video {
    max-height: 400px;
    margin-top: 2em;
    border: solid 1px var(--color-100);
}










/* MEDIA QUERIES */

/* 900 PX */

@media (max-width: 900px) {

    .product__large-img {
        width: 250px;
    }

    .product__info {
        gap: 1em;
    }

    .product__color {
        font-size: 3rem;
    }
    
    .product__patterns-img {
        width: 50.25px;
        height: 50.25px;
    }    

}




/* 600 PX */

@media (max-width: 600px) {

    .product__main {
        flex-direction: column;
    }

    .product__small-images {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .product__small-image {
        align-self: flex-start;
    }
}

