<div class="products__category">
    <div class="category-header flex-row-vcenter-between">
        <h2>Pattern Belts</h2>
        <ul class="category-header__nav-list flex-row">
            <li class="category-header__nav-item"><a href="" class="category-header__nav-link">Moon Bags</a></li>
            <li class="category-header__nav-item"><a href="" class="category-header__nav-link">Ladies Wallets</a></li>
            <li class="category-header__nav-item"><a href="" class="category-header__nav-link">Mens Wallets</a></li>
            <li class="category-header__nav-item"><a href="" class="category-header__nav-link">Pouches</a></li>
            <li class="category-header__nav-item"><a href="" class="category-header__nav-link">Travel Wallets</a></li>
        </ul>
    </div>

    <app-product-listing></app-product-listing>
    <app-product-listing></app-product-listing>
    <app-product-listing></app-product-listing>
</div>