<header>

    <nav class="flex-row-hcenter-between">
      <img class="logo-m" src="../assets/logo_white.png" alt="">
      
      <ul class="nav-links">
        <li> <a class="nav-link" href="">HOME</a> </li>
        <li> <a class="nav-link" href="">ABOUT</a> </li>
        <li> <a class="nav-link" href="">PRODUCTS</a> </li>
        <li> <a class="nav-link" href="">CONTACT</a> </li>
      </ul>
    </nav>

    <div class="hero">
      <div class="hero__blurb">
        <p>Hand Crafted</p>
        <p>Genuine Leather</p>
        <p>Premium Quality</p>
        <a class="a-button-border" href="">ORDER NOW</a>
      </div>
    </div>

</header>