main {
    margin-bottom: 8em;
    background-color: var(--color-100);
}


div {
    width: 75%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 8em 0;
}


h1 {
    margin: 2em 0;
    font-size: var(--fs-800);
}

h2 {
    margin-top: 1.25em;
    font-size: var(--fs-700);
}

h3 {
    margin-top: 1em;
    font-size: var(--fs-600);
}

h4 {
    margin-top: 1em;
    font-size: var(--fs-500);
}

h5 {
    margin-top: 0.75em;
    font-size: var(--fs-400);
}

p {
    margin: 0.25em 0;
    font-size: var(--fs-400);
}
