<app-hero></app-hero>


<main>

    <section id="features" class="features">
      <div class="two-col-grid">
          <div class="feature flex-col">
              <h3>Beauty</h3>
              <p>Our products showcase the elegant beauty of genuine leather, with its natural markings and unique variations, which makes every piece one of a kind.</p>
          </div>
          <div class="feature flex-col">
              <h3>Durability</h3>
              <p>Our products are made with genuine leather, that is strong, durable and offers a higher quality of performance compared to synthetic materials.</p>
          </div>
          <div class="feature flex-col">
              <h3>Functionality</h3>
              <p>Our products are designed with practicality in mind, ensuring that the intended purpose of any item is achieved to the highest level.</p>
          </div>
          <div class="feature flex-col">
              <h3>Customizability</h3>
              <p>With our range of personalize options, our Genuine Leather Gifts can be tailored to any Individual's taste and preference, to make it that extra special.</p>
          </div>
      </div>
    </section>
  
    
    <section id="story" class="story">
      <div class="transparent-rounded-div">
          <h2>Our Story</h2>
          <p>Our handmade genuine leather products are made with only the highest quality materials and are expertly crafted to deliver an exceptional customer experience.</p>
          <p>Another reason to invest in our Genuine Leather Gifts is the fact that leather is eco-friendly, biodegradable, and recyclable. Through the years, our products will develop a beautiful patina that will enhance the item's character and look like a timeless and high-quality piece.</p>
          <p>Our Genuine Leather Gifts offer a perfect solution for anyone seeking a reliable and beautiful gift for someone special. There is no doubt that our products will bring a smile to the face of whoever receives them.</p>
      </div>
    </section>
    
  
    <section id="product-categories" class="product-categories three-col-grid">
      <div class="category">
          <div>
              <img class="width" src="../../assets/20240117_095230.jpg" alt="">
          </div>
          <p>Moon Bags</p>
      </div>
      <div class="category">
          <div>
              <img class="width" src="../../assets/IMG_20230722_164648_054.jpg" alt="">
          </div>
          <p>Pattern Belts</p>
      </div>
      <div class="category">
          <div>
              <img class="width" src="../../assets/20240122_090858.jpg" alt="">
          </div>
          <p>Ladies Wallets</p>
      </div>
      <div class="category">
          <div>
              <img class="height" src="../../assets/IMG-20230320-WA0029.jpg" alt="">
          </div>
          <p>Mens Wallets</p>
      </div>
      <div class="category">
          <div>
              <img class="height" src="../../assets/20221216_120228.jpg" alt="">
          </div>
          <p>Pouches</p>
      </div>
      <div class="category">
          <div>
              <img class="width" src="../../assets/IMG-20230320-WA0008.jpg" alt="">
          </div>
          <p>Travel Wallets</p>
      </div>
    </section>
  
  </main>